.dropdown {
    position: relative;
    height: 38px;
    border: 1px solid red;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 30px;
    right: -1px;
    width: 100%;
    background-color: white;
    border: 1px solid red;
    border-top: none;
    position: absolute;
    box-sizing: content-box;
    z-index: 1;
}

li {
    padding-left: 10px;
}

li:hover {
    background-color: #e5e5e5;
    color: white;
}

.button:before{
    content: "";
    float: right;
    position: relative;
    top: 8px;
    right: 10px;
    display: inline-block;
    width: 11px;
    height: 11px;
    border-right: 0.1em solid #7d7d7d;
    border-top: 0.1em solid #7d7d7d;
    transform: rotate(-45deg);
    margin-right: -15px;
}

.button{
    font-size: 14px;
    padding-top: 5px;
}

.down.button:before{
    content: "";
    top: 2px;
    transform: rotate(-225deg);
}

.svg-border{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #2196F3;
}

.user-icon{
    padding: 0;
    margin: auto;
    padding-top: 1px;
}

.user-icon:hover{
    cursor: pointer;
}

.rotate-in-center {
    padding-top: 0;
    -webkit-animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes rotate-in-center {
    0% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1;
    }
}
@keyframes rotate-in-center {
    0% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1;
    }
}
