.dropdown {
    position: relative;
    height: 35px;
    border: 1px solid red;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 25px;
    right: -1px;
    width: 100%;
    background-color: white;
    border: 1px solid red;
    border-top: none;
    position: absolute;
    box-sizing: content-box;
    z-index: 1;
}

li {
    padding-left: 5px;
}

li:last-child {
    border-bottom: none;
}

li:hover {
    background-color: #e5e5e5;
    color: white;
}

.button:before{
    content: "";
    float: right;
    position: relative;
    top: 12px;
    right: 10px;
    display: inline-block;
    width: 11px;
    height: 11px;
    border-right: 0.1em solid #7d7d7d;
    border-top: 0.1em solid #7d7d7d;
    transform: rotate(-45deg);
    /*transform: rotate(-225deg);*/
    margin-right: -15px;
}

ul .button:before{
    /*background-color: #red;*/
}

.svg-border{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #2196F3;
}

.user-icon{
    padding-top: 5px;
}
